<!-- CREATE TABLE services (
  serv_id INT AUTO_INCREMENT PRIMARY KEY,
  serv_name VARCHAR(20) NOT NULL,
  cat_id INT,
  serv_start DATE NOT NULL,
  serv_end DATE NOT NULL,
  user_id INT,
  cost INT, -->
<h4>Kategória választás</h4>
<mat-form-field>
  <mat-label>Kategóriák</mat-label>
  <mat-select>
    @for (cat of categories; track cat) {
    <mat-option [value]="cat.value">{{cat.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<a (click)="Teszt()" mat-raised-button type="submit">Add</a>

<div class="services-container">
  <mat-card *ngFor="let serv of services" class="service-card">
    <mat-card-header>
      <mat-card-title>{{ serv.cat_name }}</mat-card-title>
      <mat-card-subtitle>Felhasználó: {{ serv.user_name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Kezdete:</strong> {{ serv.serv_start }}</p>
      <p><strong>Vége:</strong> {{ serv.serv_end }}</p>
      <p><strong>Ár:</strong> {{ serv.cost }} Ft</p>
      <p><strong>Érvényes:</strong> {{ serv.valid ? 'Igen' : 'Nem' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button >Szerkesztés</button>
    </mat-card-actions>
  </mat-card>
</div>