<h4>Kategória választás</h4>

<mat-form-field>
  <mat-label>Kategóriák</mat-label>

  <mat-select (selectionChange)="filterByCategory($event.value)">
    <mat-option *ngFor="let cat of categories" [value]="cat.value">
      {{ cat.viewValue }}
    </mat-option>
  </mat-select>

</mat-form-field>

<br>

<h4>Kategória Hozzáadása</h4>
<a mat-raised-button (click)="add()">Add</a>

<br><br>

<h4>Kategóriák</h4>

<div class="services-container">

  <mat-card *ngFor="let serv of filteredServices" class="service-card">

    <mat-card-header>
      <mat-card-title>{{ serv.serv_name }}</mat-card-title>
      <mat-card-subtitle>{{ serv.user_name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ serv.serv_start }}</p>
      <p>{{ serv.serv_end }}</p>
      <p>{{ serv.cost }} Ft</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="edit(serv)">
        Szerkesztés
      </button>

      <button mat-raised-button color="warn" (click)="delete(serv)">
        Törlés
      </button>
    </mat-card-actions>

  </mat-card>

</div>