.content{
  padding-top:20px;
  color:#c89bff;
}

.row{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

mat-form-field{
  flex:1;
}

[mat-dialog-title]{
  background:linear-gradient(145deg,#0d001f,#1a0b45);
  color:#c89bff;
  border-bottom:1px solid #3a0ca3;
  padding:16px;
}

.mdc-text-field{
  background:#140028;
  border-radius:8px !important;
  box-shadow:0 4px 15px rgba(123,47,247,0.6);
}

.mdc-text-field__input{
  color:#c89bff !important;
}

.mdc-floating-label{
  color:#c89bff !important;
}

.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline__trailing{
  border-color:#3a0ca3 !important;
}

.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing{
  border-color:#b57af5 !important;
}

button[mat-raised-button] {
  background: linear-gradient(90deg, #b57af5, #7b2ff7);
  box-shadow: 0 6px 18px rgba(181, 122, 245, 0.7);
  color: #ebd8ff;
}

button[mat-raised-button] {
  background: linear-gradient(90deg, #7b2ff7, #b57af5);
  color: #ebd8ff;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(123, 47, 247, 0.6);
  transition: all 0.3s ease;
}


