<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field>
    <input matInput formControlName="cat_name" placeholder="Kategória">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="user_name" placeholder="Név">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="serv_start" placeholder="Kezdet">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="serv_end" placeholder="Vég">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" formControlName="cost" placeholder="Ár">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Mentés
  </button>

</form>