
.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: linear-gradient(135deg, #0f0f0f, #1a001f, #2b0033);  */
}

.hero {
  text-align: center;
  padding: 60px;
  border-radius: 20px;
  /* background: rgba(25, 0, 40, 0.6); */
  backdrop-filter: blur(15px);
  box-shadow: 0 0 40px rgba(170, 0, 255, 0.3);
  animation: fadeIn 1s ease-in-out;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #c84bff, #8f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;         
  text-decoration: none;       
  display: inline-block;      
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #d8b4ff;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}


.primary-btn {
  background: linear-gradient(90deg, #8f00ff, #c84bff);
  color: white;
  box-shadow: 0 0 15px rgba(200, 75, 255, 0.6);
}

.primary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(200, 75, 255, 0.9);
}

.secondary-btn {
  background: transparent;
  border: 2px solid #8f00ff;
  color: #c084fc;
}

.secondary-btn:hover {
  background: #8f00ff;
  color: white;
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  color: inherit;
}