
body{
  background:#24123a; 
  font-family: 'Roboto', sans-serif;
  color:#c89bff;
  margin:0;
  padding:0;
}


h4{
  color:#c89bff;
  margin-top:20px;
}


mat-card{
  background:#1b0036; 
  border-radius:14px;
  padding:20px;
  box-shadow:0 10px 30px rgba(123,47,247,0.4);
  color:#c89bff;
}

mat-card-title h3{
  color:#c89bff;
  font-weight:600;
  margin-bottom:10px;
}


mat-form-field{
  width:300px;
  display:block;
  margin-bottom:20px;
}

.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline__trailing{
  border-color:#3a0ca3 !important;
}

.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing{
  border-color:#b57af5 !important;
}

.mdc-text-field{
  background:#140028;
  border-radius:8px !important;
  box-shadow:0 4px 15px rgba(123,47,247,0.6);
}

.mdc-text-field__input{
  color:#c89bff !important;
}

.mdc-floating-label{
  color:#c89bff !important;
}

.mat-mdc-select-value{
  color:#c89bff !important;
}


.mat-mdc-checkbox .mdc-checkbox__background{
  border-color:#7b2ff7 !important;
}

.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background{
  background:#7b2ff7 !important;
  border-color:#7b2ff7 !important;
}

.mat-mdc-checkbox label{
  color:#c89bff;
}


a[mat-raised-button],
button[mat-raised-button]{
  background:linear-gradient(90deg,#7b2ff7,#b57af5) !important;
  color:#c89bff!important;
  font-weight:600;
  border-radius:10px;
  padding:8px 20px;
  box-shadow:0 4px 15px rgba(123,47,247,0.6);
  transition:0.3s;
  text-decoration:none;
}

a[mat-raised-button]:hover,
button[mat-raised-button]:hover{
  transform:translateY(-2px);
  box-shadow:0 8px 20px rgba(181,122,245,0.8);
}

a[mat-flat-button]{
  background:#2b0a52;
  color:#c89bff;
  margin-left:10px;
  border-radius:8px;
  padding:8px 16px;
}

