<div mat-dialog-title>
    <h5>Szolgáltatás felvitele</h5>
</div>
    <form >
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-radio-group aria-label="Select an option">
                    <mat-label><strong>Kategória:</strong></mat-label>
                    <mat-radio-button value="male">Szórakozás</mat-radio-button>
                    <mat-radio-button value="female">Szoftverek</mat-radio-button>
                    <mat-radio-button value="others">Egészség</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Vezetéknév</mat-label>
                    <input matInput type="text" placeholder="pl.: Minta" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Keresztnév</mat-label>
                    <input matInput type="text" placeholder="pl.: Mihály" />
                </mat-form-field>
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline">
                <mat-label>Szolgáltatási idő kezdete</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Szolgáltatási idő vége</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </div>
        </div>
    </form>
