
      
      
      
      html, body, app-root {
        height: 100%;
        width: 100%;
        margin: 0;
        /* background: linear-gradient(135deg, #0f0f0f, #1a001f, #2b0033); */
        color: #c89bff;
        font-family: Roboto, sans-serif;
      }

      body.mat-app-background {
        background: linear-gradient(135deg, #0f0f0f, #1a001f, #2b0033) !important;
      }

 

      app-root {
        display: block;
        min-height: 100vh;
        width: 100%;
        background: inherit;
      }

      .container-fluid {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      mat-card {
        background: linear-gradient(145deg, #0d001f, #1a0b45);
         color: #c89bff;
        border: 1px solid #3a0ca3;
        border-radius: 16px;
        box-shadow: 0 8px 25px rgba(123, 47, 247, 0.6);
        padding: 24px;
        transition: all 0.3s ease-in-out;
      }

      mat-card:hover {
        box-shadow: 0 12px 35px rgba(181, 122, 245, 0.7);
      }

      mat-card-title h1 {
        color: #c89bff;
        font-weight: 700;
        margin-bottom: 16px;
      }

      mat-form-field {
        width: 100%;
      }

      /* Outline border */
      .mdc-text-field--outlined .mdc-notched-outline__leading,
      .mdc-text-field--outlined .mdc-notched-outline__notch,
      .mdc-text-field--outlined .mdc-notched-outline__trailing {
        border-color: #3a0ca3 !important;
      }

      .mdc-text-field--focused .mdc-notched-outline__leading,
      .mdc-text-field--focused .mdc-notched-outline__notch,
      .mdc-text-field--focused .mdc-notched-outline__trailing {
        border-color: #b57af5 !important;
      }

      .mdc-text-field {
       background-color: linear-gradient(90deg, #7b2ff7, #b57af5)  !important;
      box-shadow: 0 4px 15px rgba(123, 47, 247, 0.6);
        border-radius: 8px !important;
      }

      .mdc-text-field__input {
        color: #c89bff !important;
        /* background-size:cover;
         background-color: linear-gradient(90deg, #7b2ff7, #b57af5)  !important;
          box-shadow: 0 4px 15px rgba(123, 47, 247, 0.6); */
      }

      .mdc-floating-label {
      color: #c89bff !important;

      }

      .mdc-text-field--focused .mdc-floating-label {
        color: #c89bff !important;
      }

      button[mat-raised-button] {
        background: linear-gradient(90deg, #7b2ff7, #b57af5) !important;
        color: #c89bff !important;
        font-weight: 600;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(123, 47, 247, 0.6);
        transition: 0.3s;
      }

      button[mat-raised-button]:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(181, 122, 245, 0.8);
      }

      a[mat-flat-button] {
        background: linear-gradient(90deg, #2b0057, #3a0ca3) !important;
       color: #c89bff !important;
        border-radius: 10px;
        font-weight: 500;
        margin-left: 16px;
        transition: 0.3s;
      }

      a[mat-flat-button]:hover {
        background: linear-gradient(90deg, #3a0ca3, #7b2ff7) !important;
        transform: translateY(-2px);
      }

      .mat-mdc-icon-button {
        color: #c89bff !important;
      }

      .mat-mdc-radio-button .mdc-radio__outer-circle {
        border-color: #7b2ff7 !important;
      }

      .mat-mdc-radio-button.mat-accent .mdc-radio__inner-circle {
        background-color: #b57af5 !important;
      }

      .mat-mdc-button .mat-mdc-button-ripple,
      .mat-mdc-raised-button .mat-mdc-button-ripple {
        background-color: rgba(100, 69, 133, 0.2) !important;
      }
