<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="app.component.css" rel="stylesheet">
  <title>Document</title>

</head>
<body>
  
<!-- Toolbar -->
<div class="toolbar" *ngIf="ismenurequired">
  <span><img
    width="120"
    alt="Angular Logo"
    src="SM_logo.png"
  /></span>
  <span>Üdvözöljük!</span>
  
  <a routerLink="" style="color: #c89bff; padding-left:10px;">Otthon</a>
  <a *ngIf="isadminuser" routerLink="user" style="color: #c89bff; padding-left:10px;">Felhasználók</a>
  <a routerLink="/services" style="color: #c89bff; padding-left:10px;">Szolgáltatások</a>
  <div class="spacer"></div>
  <a routerLink="/login" style="color: #c89bff; padding-right:30px;">Kijelentkezés</a>
</div>

<div class="content" style="width: 100%;display: block;" role="main">
  <router-outlet></router-outlet>

</div>

</body>
</html>
